* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    min-height: 100vh;
    background: radial-gradient(at center bottom, #3ae1fe, #65c7f7, #0052d4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 100vh;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.screen {
    text-align: end;
    margin-bottom: 24px;
    color: #000;
    margin: 0 8% 16px;
}

.sub-screen {
    height: 30px;
    font-size: 24px;
}

.main-screen {
    height: 60px;
    font-size: 48px;
}

.calc-btns {
    width: 335px;
    margin: 0 auto 56px;
}

.calc-btn-row {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
}

button {
    width: 72px;
    height: 72px;
    border-radius: 20px;
    border: none;
    font-size: 24px;
    transition: 0.2s;
}

button.double {
    width: 160px;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.calc-btn-row:first-child button {
    background: #b1b1b1;
}

.calc-btn-row button:last-child {
    background: #f1a33b;
    color: #fff;
}
